@import "../node_modules/colors.css/stylus/variables.styl"
@import "framework/_variables.styl"

//嵌套
.tqb-date-picker
    position fixed
    top 0
    right 0
    left 0
    bottom 0
    background-color #fff;
    display flex
    flex-direction column

&.static
    position relative
        
.tqb-dp-container
    flex 1

@import "framework/_header.styl"
@import "framework/_labels.styl"
@import "framework/_calendar.styl"