<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蚂蚁金服-<%= title%></title>
</head>
<body>
    <form action="/login" name="loginForm" method="post">
        <input type="text" name="code" />
        <img src="<%= pic%>" alt="">
        <input type="submit" value="保存" />
    </form>
</body>
</html>