.tqb-date-picker
    +prefix-classes('tqb-dp-')
        .header
            
            h3
                text-align center
                font-size 1.2rem
                font-weight normal
                margin 0
                //   变量
                line-height header-height - 1px
            
            button
                position absolute
                top 0
                background-color white
                border none 
                color glay 
                padding 0
                height header-height - 1px
                line-height header-height -1px
                width 3rem

            &.close-button
                left 0
            
            &.confirm-button
                right 0
                font-size 1rem